/confluence/target
/dependencies/repo
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
out/
/tmp
workspace.xml
*.versionsBackup
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
.gradle/

build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
.idea/**
kotlin-ultimate/
node_modules/
.rpt2_cache/
libraries/tools/kotlin-test-nodejs-runner/lib/
local.properties

# mac os
**/.DS_Store

# IntelliJ
.idea/**
auto-import.
*.iml
*.ipr